install_manifest.txt
doc/build
doc/source
__MACOSX
*.*~
CMakeCache.txt
**/CMakeFiles
**/Makefile
**/Makefile.am
**/cmake_install.cmake
compile_commands.json
**/*.so
**/*.a
**/*.pyc
*.egg-info
**/*.egg-info
**/__pycache__
.envrc
build/
dist/
**/*.out
**/*.link
try
build
dist
detect_cuda_version.cc
detect_cuda_compute_capabilities.cpp
Dockerfile