install_manifest.txt
doc/API/
__MACOSX
*.*~
CMakeCache.txt
CMakeFiles
Makefile
Makefile.am
cmake_install.cmake
compile_commands.json
*.so
*.a
*.pyc
venv
.envrc
build/
dist/
tenviz.egg-info/
*.out*
*.link
*.egg-info
3rd-party/stb
detect_cuda_version.cc
detect_cuda_compute_capabilities.cpp
test_tensorviz_cpp

# Windows build

*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.obj
*.ipch
*.pdb
*.tlog
*.log
*.dll
*.lib
*.exp
*.db
*.db-*
*.opendb
*.nvuser
*.suo
*.pyd
*.ilk
*.ipynb_checkpoints